.main {
  height: 100%;
}

.form-checkbox {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}

.checkbox-design {
  gap: 5px;
  display: flex;
}

.privacy a {
  color: var(--button-color);
}
