main {
    max-height: 1020px;
    height: 100vh;
}

.main {
    height:100%;
}

.register-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:440px;
    height: 500px;
    border-radius: 10px;
    border: 1px solid #d5d5d5;
    box-shadow: 4px 0px 10px rgba(0, 0, 0, 0.05);
    padding: 20px 30px;
}

.items-list {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
}

.items-list li {
    width: 100%;
    text-align: center;
}

.h2-padding {
    padding: 15px 30px;
}

.form-input {
    display: flex;
    flex-direction: column;
    gap: 3px;
    align-items: start;
}

