.main {
    height: 100%;
}

.form__checkbox {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.form__checkbox-design {
    gap: 5px;
    display: flex;
}

.privacy a {
    color: var(--button-color);
}
